#### Sample1

In [3]:
sale=10
print("売り上げは",sale,"万円です。")

売り上げは 10 万円です。

In [4]:
sale

10

#### Sample2

In [5]:
sale=10
print("売上は",sale,"万円です。")
print("売上の値を変更します。")
sale = 20
print("売上は" , sale , "万円です。")

売上は 10 万円です。
売上の値を変更します。
売上は 20 万円です。

#### Sample3

In [7]:
name="東京"
sale=10
print(name,"支店の売上は",sale, "万円です。")

東京 支店の売上は 10 万円です。

In [12]:
print(type(name),",",type(sale))

<class 'str'> , <class 'int'>

#### Sample4

In [18]:
print("1+2は"),1+2,"です"

1+2は

(None, 3, 'です')

#### Sample5

In [21]:
price =50
num=10
total=price *num
print("単価は",price, "円です。")
print("売上個数は",num,"個です。")
print("合計金額は",total,"円です。")

total=total-100

print("値引きすると",total,"円です。")

単価は 50 円です。
売上個数は 10 個です。
合計金額は 500 円です。
値引きすると 400 円です。

In [ ]:
@
+
-
~
|
&
^
<<
>>

#### Sample6

In [62]:
num1=10
num2=5
num3=-2
num4=1
num5=0b0101
num6=0b0100

print("num1+num2は",num1+num2 ,"です。")
print("num1-num2は",num1-num2 ,"です。")
print("num1*num2は",num1*num2 ,"です。")
print("num1/num2は",num1/num2 ,"です。")
print("num1+num2は",num1+num2 ,"です。")
print()
print("+(num3)は",+(num3) ,"です。")
print("-(num3)は",-(num3) ,"です。")
print("~num5は",~num5 ,"です。")
print("num5|num6は", num5|num6 ,"です。")
print("num5&num6は", num5&num6 ,"です。")
print("num5^num6は", num5^num6 ,"です。")
print("num5<<num6は", num5<<1 ,"です。")
print("num5>>num6は", num6>>1,"です。")

num1+num2は 15 です。
num1-num2は 5 です。
num1*num2は 50 です。
num1/num2は 2.0 です。
num1+num2は 15 です。

+(num3)は -2 です。
-(num3)は 2 です。
~num5は -6 です。
num5|num6は 5 です。
num5&num6は 4 です。
num5&num6は 1 です。
num5&num6は 10 です。
num5&num6は 2 です。

#### Sample7

In [46]:
num=10
pic="〇"
graph = pic *num
print("売上："+graph)
print(num, "万円の売上があります。")
print(str(num) + "型変換して足す")

売上：〇〇〇〇〇〇〇〇〇〇
10 万円の売上があります。
10型変換して足す

#### Sample8

In [4]:
n=input("値を入力してください。")
print(n,"が入力されました。")

10 が入力されました。

#### Sample9

In [10]:
num1=input("数値１を入力してください。")
num2=input("数値２を入力してください。")
num3=float(num1)+float(num2)
print(num1,"+",num2,"は",num3,"です。")

1.1 + 2.2 は 3.3000000000000003 です。

In [11]:
from decimal import *

num1=input("数値１を入力してください。")
num2=input("数値２を入力してください。")
num4=Decimal(num1)+Decimal(num2)
print(num1,"+",num2,"は本当は",num4,"です。")

1.1 + 2.2 は本当は 3.3 です。

#### 練習

In [14]:
print("You are ",int(input("How old are you?"))," years old.")

You are  23  years old.

In [1]:
print("Your height is ",float(input("How tall are you?"))," cm."," Your weight is ",float(input("How much do you weigh?"))," kg.")

Your height is  170.0  cm.  Your weight is  70.0  kg.