#### Sample1

In [1]:
sale = [80, 60, 22, 50, 75]

print(sale)

[80, 60, 22, 50, 75]

### リストの各要素を取得する

#### Sample2

In [2]:
sale = [80, 60, 22, 50, 75]

print(sale[0])
print(sale[1])
print(sale[2])
print(sale[3])
print(sale[4])

print("リストの長さは", len(sale), "です。")

80
60
22
50
75
リストの長さは 5 です。

In [3]:
#### リストが空かどうかの判定
s = []
len(s)

0

### リストを繰り返し文で扱う

#### Sample3

In [4]:
sale = [80, 60, 22, 50, 75]

for s in sale:
    print(s)

print("リストの長さは", len(sale), "です。")

80
60
22
50
75
リストの長さは 5 です。

In [5]:
itr = iter(sale)

In [6]:
next(itr)

80

## 5.3リストの操作

#### リストの要素の値を変更する

#### Sample4

In [7]:
sale = [80, 60, 22, 50, 75]

i = int(input("何番目のデータを変更しますか？"))
num = int(input("変更後のデータを入力してください。"))

print(i, "番目のデータ", sale[i], "を変更します。")

sale[i] = num    #要素の値を変更します。

print(i, "番目のデータは", sale[i], "に変更されました。")

何番目のデータを変更しますか？ 3
変更後のデータを入力してください。 13

3 番目のデータ 50 を変更します。
3 番目のデータは 13 に変更されました。

### リストに要素を追加する

#### Sample5

In [8]:
sale = [80, 60, 22, 50, 75]
print("現在のデータは", sale, "です。")

print("末尾に100を追加します。")
sale.append(100)
print("現在のデータは", sale, "です。")

print("sale[2]に25を挿入します。")
sale.insert(2,25)
print("現在のデータは", sale, "です。")

現在のデータは [80, 60, 22, 50, 75] です。
末尾に100を追加します。
現在のデータは [80, 60, 22, 50, 75, 100] です。
sale[2]に25を挿入します。
現在のデータは [80, 60, 25, 22, 50, 75, 100] です。

In [9]:
sale

[80, 60, 25, 22, 50, 75, 100]

In [10]:
sale.insert(0,100)

In [11]:
sale

[100, 80, 60, 25, 22, 50, 75, 100]

#### リストの要素を削除する。

#### Sample6

In [12]:
sale = [80, 60, 22, 50, 75]
print("現在のデータは", sale, "です。")

print("先頭のデータを削除します。")
del sale[0]
print("現在のデータは", sale, "です。")

print("22を削除します。")
sale.remove(22)
print("現在のデータは", sale, "です。")

現在のデータは [80, 60, 22, 50, 75] です。
先頭のデータを削除します。
現在のデータは [60, 22, 50, 75] です。
22を削除します。
現在のデータは [60, 50, 75] です。

In [13]:
sale = [80, 60, 22, 50, 75,22]
sale.remove(22)
sale

[80, 60, 50, 75, 22]

### 5.4リストの注意

#### Sample7

In [14]:
data1 = [1,2,3,4,5]
data2 = data1

print("data1は", data1, "です。")
print("data2は", data2, "です。")

data1[0] = 10

print("data1を変更します。")

print("data1は", data1, "です。")
print("data2は", data2, "です。")

data1は [1, 2, 3, 4, 5] です。
data2は [1, 2, 3, 4, 5] です。
data1を変更します。
data1は [10, 2, 3, 4, 5] です。
data2は [10, 2, 3, 4, 5] です。

In [26]:
id(data1)

2942325562240

In [27]:
id(data2)

2942292999552

#### 新しいリストを作成するには

#### Sample8

In [25]:
data1 = [1,2,3,4,5]
data2 = list(data1)
# data2 = data1.copy()

print("data1は", data1, "です。")
print("data2は", data2, "です。")

data1[0] = 10

print("data1を変更します。")

print("data1は", data1, "です。")
print("data2は", data2, "です。")

data1は [1, 2, 3, 4, 5] です。
data2は [1, 2, 3, 4, 5] です。
data1を変更します。
data1は [10, 2, 3, 4, 5] です。
data2は [1, 2, 3, 4, 5] です。

In [31]:
# 空のリスト作成
data=list([10,20,30])
data

[10, 20, 30]

### 5.5リストの連結とスライス

#### リストを連結する

#### Sample9

In [35]:
sale1 = [1,2,3,4,5,6]
print("上半期のデータは", sale1, "です。")

sale2 = [7,8,9,10,11,12]
print("下半期のデータは", sale2,"です。")

ysale = sale1 + sale2

print("年間のデータは", ysale, "です。")

上半期のデータは [1, 2, 3, 4, 5, 6] です。
下半期のデータは [7, 8, 9, 10, 11, 12] です。
年間のデータは [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] です。

In [32]:
sale1 = [1,2,3,4,5,6]
sale2 = [7,8,9,10,11,12]
sale1.extend(sale2)
sale1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [43]:
sale1 = [1,2,3,4,5,6]
sale2 = [7,8,9,10,11,12]
sale1.append(sale2)
sale1

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10, 11, 12]]

### +=演算子で連結

In [33]:
sale1 = [1,2,3,4,5,6]
sale2 = [7,8,9,10,11,12]
sale1 += sale2
sale1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

#### スライスで指定する

In [40]:
ysale

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [38]:
ysale[0:6]

[1, 2, 3, 4, 5, 6]

In [39]:
ysale[6:]

[7, 8, 9, 10, 11, 12]

In [43]:
ysale[::2]

[1, 3, 5, 7, 9, 11]

In [46]:
ysale[::-1]

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Sample10

In [51]:
ysale = [1,2,3,4,5,6,7,8,9,10,11,12]
print("年間データは", ysale, "です。")

sale1 = ysale[0:6]
print("上半期のデータは", sale1, "です。")

sale2 = ysale[6:]
print("下半期のデータは", sale2, "です。")

sale3 = ysale[::2]
print("一か月おきのデータは", sale3, "です。")

sale4 = ysale[::-1]
print("逆順のデータは", sale4, "です。")

print("年間データは", ysale, "です。")
print("上半期のデータを差し替えます。")

ysale[:6] = [0,0,0,0,0,0]
print("年間データは", ysale, "です。")

年間データは [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] です。
上半期のデータは [1, 2, 3, 4, 5, 6] です。
下半期のデータは [7, 8, 9, 10, 11, 12] です。
一か月おきのデータは [1, 3, 5, 7, 9, 11] です。
逆順のデータは [12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1] です。
年間データは [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] です。
上半期のデータを差し替えます。
年間データは [0, 0, 0, 0, 0, 0, 7, 8, 9, 10, 11, 12] です。

In [52]:
ysale

[0, 0, 0, 0, 0, 0, 7, 8, 9, 10, 11, 12]

In [54]:
del ysale[:6]

In [55]:
ysale

[7, 8, 9, 10, 11, 12]

#### リストを逆順にするには

#### Sample11

In [47]:
data = [1,2,3,4,5]
print("現在のデータは", data, "です。")

print("data[::-1]をfor文で処理します。")
for d in data[::-1]:
    print(d)
print("data[::-1]は", data[::-1], "です。")
print("現在のデータは", data, "です。")

print("reversed(data)をfor文で処理します")
for d in reversed(data):
    print(d)
print("reversed(data)は", reversed(data),"です。")
print("現在のデータは", data, "です。")

print("data.reverse()を処理します。")
data.reverse()
print("現在のデータは", data, "です。")

現在のデータは [1, 2, 3, 4, 5] です。
data[::-1]をfor文で処理します。
5
4
3
2
1
data[::-1]は [5, 4, 3, 2, 1] です。
現在のデータは [1, 2, 3, 4, 5] です。
reversed(data)をfor文で処理します
5
4
3
2
1
reversed(data)は <list_reverseiterator object at 0x000002AD104C54F0> です。
現在のデータは [1, 2, 3, 4, 5] です。
data.reverse()を処理します。
現在のデータは [5, 4, 3, 2, 1] です。

#### イテレータとは

In [48]:
data= [1,2,3,4,5]
it = iter(data)

In [54]:
print(next(it))

StopIteration:

In [55]:
rv =reversed(data)

In [61]:
print(next(rv))

StopIteration:

### 5.6リスト要素の組み合わせと分解

#### Sample12

In [1]:
city = ["東京", "名古屋", "大阪", "京都"]
sale = [80,60,22,50,75]

print("都市名データは", city, "です。")
print("売上データは", sale,"です。")

print("データを組み合わせます。")

for d in zip(city, sale):
    print(d)

print("データとインデックスを組み合わせます。")

for d in enumerate(city):
    print(d)

都市名データは ['東京', '名古屋', '大阪', '京都'] です。
売上データは [80, 60, 22, 50, 75] です。
データを組み合わせます。
('東京', 80)
('名古屋', 60)
('大阪', 22)
('京都', 50)
データとインデックスを組み合わせます。
(0, '東京')
(1, '名古屋')
(2, '大阪')
(3, '京都')

#### リストの要素を分解する

#### Sample13

In [75]:
city = ["東京", "名古屋", "大阪", "京都"]
sale = [80,60,22,50,75]

print("都市名データは", city, "です。")
print("売上データは", sale,"です。")

print("データを組み合わせます。")

for d in zip(city, sale):
    print(d)

print("データを分解します。")

for c, s in zip(city, sale):
    print("都市名は", c, "売上は", s)

都市名データは ['東京', '名古屋', '大阪', '京都'] です。
売上データは [80, 60, 22, 50, 75] です。
データを組み合わせます。
('東京', 80)
('名古屋', 60)
('大阪', 22)
('京都', 50)
データを分解します。
都市名は 東京 売上は 80
都市名は 名古屋 売上は 60
都市名は 大阪 売上は 22
都市名は 京都 売上は 50

#### アンパックして代入

In [69]:
data = [1,2,3]
d1, d2, d3 = data

In [76]:
print(d1,d2,d3)

1 2 3

#### リストから新しいリストを得る（リスト内包）

#### Sample14

In [70]:
data = [1,2,3,4,5]
print("現在のデータは", data, "です。")

ndata = [n*2 for n in data if n!=3]

print("新しいデータは", ndata, "です。")

現在のデータは [1, 2, 3, 4, 5] です。
新しいデータは [2, 4, 8, 10] です。

In [71]:
data = [1,2,3,4,5]
ndata = []
for n in data:
    if n != 3:
        ndata.append(n*2)
print(ndata)

[2, 4, 8, 10]

#### if文がない場合はすべての要素を２倍してリストを作成します。

In [72]:
[n*2 for n in data ]

[2, 4, 6, 8, 10]

#### 式を工夫するとelse文もできます。

In [73]:
[n*2 if n!=3 else 100 for n in data ]

[2, 4, 100, 8, 10]

### 5.7リストの集計と並べ替え

#### Sample15

In [77]:
sale = [80,60,22,50,75]
print("現在のデータは", sale, "です。")

print("最大のデータは", max(sale), "です。")
print("最小のデータは", min(sale), "です。")

print("データの合計は", sum(sale), "です。")

print("ソートされたデータは", sorted(sale), "です。")

現在のデータは [80, 60, 22, 50, 75] です。
最大のデータは 80 です。
最小のデータは 22 です。
データの合計は 287 です。
ソートされたデータは [22, 50, 60, 75, 80] です。

In [78]:
# 平均
sum(sale)/len(sale)

57.4

#### リストを並び替える

#### Sample15

In [81]:
print("ソートされたデータは", sorted(sale, reverse=True),  "です。")

ソートされたデータは [80, 75, 60, 50, 22] です。

In [85]:
sale = [80,60,22,50,75]
sale.sort(reverse=True)
sale

[80, 75, 60, 50, 22]

### 5.8 多次元のリスト

### Sample16

In [86]:
data =[
    ["東京", 32, 25],
    ["名古屋", 28, 21],
    ["大阪",27, 20],
    ["京都", 26, 19],
    ["福岡", 27, 22]
]

print("現在のデータは", data, "です。")

for dat in data:
    print("都市別データは", dat, "です。")
    for d in dat:
        print(d, end="\t")
    print()

print(data[0][0], "の最高気温は", data[0][1], "最低気温は", data[0][2], "です。")

現在のデータは [['東京', 32, 25], ['名古屋', 28, 21], ['大阪', 27, 20], ['京都', 26, 19], ['福岡', 27, 22]] です。
都市別データは ['東京', 32, 25] です。
東京	32	25
都市別データは ['名古屋', 28, 21] です。
名古屋	28	21
都市別データは ['大阪', 27, 20] です。
大阪	27	20
都市別データは ['京都', 26, 19] です。
京都	26	19
都市別データは ['福岡', 27, 22] です。
福岡	27	22
東京 の最高気温は 32 最低気温は 25 です。

In [90]:
c, t1, t2 = data[0]
print(c, "の最高気温は", t1, "最低気温は", t2, "です。")

東京 の最高気温は 32 最低気温は 25 です。