#### 練習1

In [5]:
test = [74, 85, 69, 77, 81]

avg = sum(test)/len(test)

print("テストの点は", test, "です。")
print("最高点は", max(test), "です。")
print("最低点は", min(test), "です。")
print("平均点は", avg, "です。")

テストの点は [74, 85, 69, 77, 81] です。
最高点は 85 です。
最低点は 69 です。
平均点は 77.2 です。

#### 練習2

In [6]:
test = [74, 85, 69, 77, 81]

print("テストの点は", test, "です。")
print("昇順は", sorted(test, reverse=False), "です。")
print("降順は", sorted(test, reverse=True), "です。")

テストの点は [74, 85, 69, 77, 81] です。
昇順は [69, 74, 77, 81, 85] です。
降順は [85, 81, 77, 74, 69] です。

#### 練習3

In [7]:
test = [74, 85, 69, 77, 81]

high = [t for t in test if t>=80]

print("テストの点は", test, "です。")
print("80点以上は", high, "です。")
print("80点以上の人数は", len(high), "人です。")

テストの点は [74, 85, 69, 77, 81] です。
80点以上は [85, 81] です。
80点以上の人数は 2 人です。

#### 練習4

In [4]:
city = ["東京", "名古屋", "大阪", "京都", "福岡"]
tm1 = [32, 28, 27, 26, 27]
tm2 = [25, 21, 20, 19, 22]

print("都市名データは", city, "です。")
print("最高気温データは", tm1, "です。")
print("最低気温データは", tm2, "です。")

for c, t1, t2 in zip(city, tm1, tm2):
    print(c, "の最高気温は", t1, "最低気温は", t2, "です。")

都市名データは ['東京', '名古屋', '大阪', '京都', '福岡'] です。
最高気温データは [32, 28, 27, 26, 27] です。
最低気温データは [25, 21, 20, 19, 22] です。
東京 の最高気温は 32 最低気温は 25 です。
名古屋 の最高気温は 28 最低気温は 21 です。
大阪 の最高気温は 27 最低気温は 20 です。
京都 の最高気温は 26 最低気温は 19 です。
福岡 の最高気温は 27 最低気温は 22 です。

In [14]:
city = ["東京", "名古屋", "大阪", "京都", "福岡"]
tm1 = [32, 28, 27, 26, 27]
tm2 = [25, 21, 20, 19, 22]

print("都市名データは", city, "です。")
print("最高気温データは", tm1, "です。")
print("最低気温データは", tm2, "です。")

# for c, t1, t2 in zip(city, tm1, tm2):
for d in zip(city, tm1, tm2):
    print(d[0], "の最高気温は", d[1], "最低気温は", d[2], "です。")

都市名データは ['東京', '名古屋', '大阪', '京都', '福岡'] です。
最高気温データは [32, 28, 27, 26, 27] です。
最低気温データは [25, 21, 20, 19, 22] です。
東京 の最高気温は 32 最低気温は 25 です。
名古屋 の最高気温は 28 最低気温は 21 です。
大阪 の最高気温は 27 最低気温は 20 です。
京都 の最高気温は 26 最低気温は 19 です。
福岡 の最高気温は 27 最低気温は 22 です。

#### 補足

In [10]:
city = ["Tokyo","Nagoya","Osaka", "Kyoto", "Fukuoka"]
tm1 = [32, 28, 27, 26, 27]
tm2 = [25, 21, 20, 19, 22]
city_list = [c for c in zip(city,tm1,tm2)]
sorted(city_list, reverse=False)

[('Fukuoka', 27, 22),
 ('Kyoto', 26, 19),
 ('Nagoya', 28, 21),
 ('Osaka', 27, 20),
 ('Tokyo', 32, 25)]

In [12]:
city_list = [c for c in zip(tm1,city,tm2)]
# sorted(city_list)
for t1, c, t2 in sorted(city_list):
    print(c, "の最高気温は", t1, "最低気温は", t2, "です。")

Kyoto の最高気温は 26 最低気温は 19 です。
Fukuoka の最高気温は 27 最低気温は 22 です。
Osaka の最高気温は 27 最低気温は 20 です。
Nagoya の最高気温は 28 最低気温は 21 です。
Tokyo の最高気温は 32 最低気温は 25 です。

In [17]:
city = ["東京", "名古屋", "大阪", "京都", "福岡"]
tm1 = [32, 28, 27, 26, 27]
tm2 = [25, 21, 20, 19, 22]
 
print("都市名データは", city, "です。")
print("最高気温データは", tm1, "です。")
print("最低気温データは", tm2, "です。")
 
#for c, t1, t2 in zip(city, tm1, tm2):
#    print(c, "の最高気温は", t1, "最低気温は", t2, "です。")
 
city_list = [c for c in zip(tm1,city, tm2)]
 
for t1, c, t2 in sorted(city_list):
# for t1, c, t2 in sorted(zip(tm1,city, tm2)):
    print(c, "の最高気温は", t1, "最低気温は", t2, "です。")

都市名データは ['東京', '名古屋', '大阪', '京都', '福岡'] です。
最高気温データは [32, 28, 27, 26, 27] です。
最低気温データは [25, 21, 20, 19, 22] です。
京都 の最高気温は 26 最低気温は 19 です。
大阪 の最高気温は 27 最低気温は 20 です。
福岡 の最高気温は 27 最低気温は 22 です。
名古屋 の最高気温は 28 最低気温は 21 です。
東京 の最高気温は 32 最低気温は 25 です。

In [18]:
city_list

[(32, '東京', 25),
 (28, '名古屋', 21),
 (27, '大阪', 20),
 (26, '京都', 19),
 (27, '福岡', 22)]

#### ２次元配列のコピー

In [19]:
data = [
   ["東京", 32, 25], 
   ["名古屋", 28, 21], 
   ["大阪", 27, 20],
   ["京都", 26, 19],
   ["福岡", 27, 22]
]

In [25]:
data = [
   ["東京", 32, 25], 
   ["名古屋", 28, 21], 
   ["大阪", 27, 20],
   ["京都", 26, 19],
   ["福岡", 27, 22]
]
data2 = data.copy()
data2[0][0] = "Tokyo"
print(data)
print(data2)

[['Tokyo', 32, 25], ['名古屋', 28, 21], ['大阪', 27, 20], ['京都', 26, 19], ['福岡', 27, 22]]
[['Tokyo', 32, 25], ['名古屋', 28, 21], ['大阪', 27, 20], ['京都', 26, 19], ['福岡', 27, 22]]

In [24]:
import copy
data = [
   ["東京", 32, 25], 
   ["名古屋", 28, 21], 
   ["大阪", 27, 20],
   ["京都", 26, 19],
   ["福岡", 27, 22]
]

data2 = copy.deepcopy(data)
data2[0][0] = "Tokyo"
print(data)
print(data2)

[['東京', 32, 25], ['名古屋', 28, 21], ['大阪', 27, 20], ['京都', 26, 19], ['福岡', 27, 22]]
[['Tokyo', 32, 25], ['名古屋', 28, 21], ['大阪', 27, 20], ['京都', 26, 19], ['福岡', 27, 22]]