#### 課題1

In [7]:
fruits = ["Apple","Banana","Grape","Orange","Peach"]
for i in range(len(fruits)):
  print(i,":",fruits[i])

print();

for n, fruit in enumerate(fruits):
    print(str(n)+":", fruit)

0 : Apple
1 : Banana
2 : Grape
3 : Orange
4 : Peach

0: Apple
1: Banana
2: Grape
3: Orange
4: Peach

#### 課題2

In [9]:
weekday_en = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]
weekday_ja = ["日","月","火","水","木","金","土"]

for i,j in zip(weekday_en,weekday_ja):
  print(i,":",j)

Sun : 日
Mon : 月
Tue : 火
Wed : 水
Thu : 木
Fri : 金
Sat : 土

#### 課題3

In [15]:
lang = {"Python":45, "C":14, "Swift":40, "JavaScript":40, "Java": 44}

for k in lang:
  print(k,"の利用人数は",lang[k],"人")

Python の利用人数は 45 人
C の利用人数は 14 人
Swift の利用人数は 40 人
JavaScript の利用人数は 40 人
Java の利用人数は 44 人

#### 課題4

In [23]:
customers = [("田中一郎", 25), ("山田太郎", 23), ("佐藤花子", 15),
("稲垣五朗", 33), ("小林直子", 26), ("大木まこと", 18)]

print([name for name, age in customers if age >= 20])

['田中一郎', '山田太郎', '稲垣五朗', '小林直子']

#### 課題5

In [36]:
answer = ["京都", "北海道", "沖縄", "博多", "北海道", "大阪",
"京都", "京都","大阪", "京都", "京都", "大阪", "京都",
"京都", "博多", "沖縄","沖縄", "博多", "沖縄", "博多",
"沖縄", "北海道", "北海道", "沖縄", "沖縄", "北海道", "博多",
"北海道", "沖縄", "北海道", "大阪", "北海道", "博多", "博多",
"北海道", "北海道", "北海道","沖縄", "沖縄", "京都"]
 
# 空の辞書を用意
results = { }
 
# 辞書resultsに地域と得票数を格納する
for a in answer:
    if(a in results) :
      results[a]+=1
    else:
      results[a]=1

# 結果を表示する
print(results)
 
for region, num in results.items():
    print(region,":",num)

{'京都': 8, '北海道': 11, '沖縄': 10, '博多': 7, '大阪': 4}
京都 : 8
北海道 : 11
沖縄 : 10
博多 : 7
大阪 : 4

In [39]:
answer = ["京都", "北海道", "沖縄", "博多", "北海道", "大阪",
"京都", "京都","大阪", "京都", "京都", "大阪", "京都",
"京都", "博多", "沖縄","沖縄", "博多", "沖縄", "博多",
"沖縄", "北海道", "北海道", "沖縄", "沖縄", "北海道", "博多",
"北海道", "沖縄", "北海道", "大阪", "北海道", "博多", "博多",
"北海道", "北海道", "北海道","沖縄", "沖縄", "京都"]
 
# 空の辞書を用意
results = { }
 
# 辞書resultsに地域と得票数を格納する
for a in answer:
    results[a]= (results[a]+1) if(a in results) else 1

# 結果を表示する
print(results)
 
for region, num in results.items():
    print(region,":",num)

{'京都': 8, '北海道': 11, '沖縄': 10, '博多': 7, '大阪': 4}
京都 : 8
北海道 : 11
沖縄 : 10
博多 : 7
大阪 : 4

In [40]:
answer = ["京都", "北海道", "沖縄", "博多", "北海道", "大阪",
"京都", "京都","大阪", "京都", "京都", "大阪", "京都",
"京都", "博多", "沖縄","沖縄", "博多", "沖縄", "博多",
"沖縄", "北海道", "北海道", "沖縄", "沖縄", "北海道", "博多",
"北海道", "沖縄", "北海道", "大阪", "北海道", "博多", "博多",
"北海道", "北海道", "北海道","沖縄", "沖縄", "京都",]
 
results = { region:answer.count(region) for region in set(answer) }
 
print(results)
 
for region, num in results.items():
 
    print(region,":",num)

{'大阪': 4, '博多': 7, '北海道': 11, '京都': 8, '沖縄': 10}
大阪 : 4
博多 : 7
北海道 : 11
京都 : 8
沖縄 : 10

In [50]:
l=[1,2,3,,]
print (l)

SyntaxError: invalid syntax (3275955608.py, line 1)

In [48]:
n=1
sale=[1,2,3,4,5]
print(sorted(sale,reverse=True))

[5, 4, 3, 2, 1]

In [49]:
num=[1,3,7,10,9,15,20,30]
print([m for m in num if m%3==0])

[3, 9, 15, 30]

In [53]:
names=[("あああ","男"),("いいい","女"),("ううう","男"),("えええ","男"),("おおお","女")]
print([n for n in names if n[1]=="男"])

[('あああ', '男'), ('ううう', '男'), ('えええ', '男')]