### 6.1タプル

In [5]:
sale = (80, 60, 20 , 50, 75)

In [6]:
sale

(80, 60, 20, 50, 75)

In [7]:
for s in sorted(sale):
    print(s, end=",")

20,50,60,75,80,

In [11]:
s = [3,6,2]
s.sort()
s

[2, 3, 6]

In [3]:
sale = ()

In [15]:
sale = (10,)

In [16]:
sale

(10,)

In [17]:
t = 1,2,3
t

(1, 2, 3)

In [18]:
t = tuple([80, 60, 20,70,80])

In [20]:
type(t)

tuple

In [21]:
sale = (80, 60, 20 , 50, 75)
sale[0]

80

### 6.2 ディクショナリの基本

In [22]:
sale = {"東京":80, "名古屋":60, "京都":22,"大阪":50,"福岡":75}

In [25]:
sale

{}

In [24]:
sale = {}

In [27]:
sale = dict()
sale

{}

#### Sample1

In [30]:
sale = {"東京":80, "名古屋":60, "京都":22,"大阪":50,"福岡":75}
print("現在のデータは", sale, "です。")

k = input("どの支店のデータを表示しますか？")
print(k, "データは", sale[k], "です。")

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です。

どの支店のデータを表示しますか？ 名古屋

名古屋 データは 60 です。

#### キーがみつからない場合は?

In [34]:
"東京"  in sale

True

#### Sample2

In [36]:
sale = {"東京":80, "名古屋":60, "京都":22,"大阪":50,"福岡":75}
print("現在のデータは", sale, "です。")

k = input("どの支店のデータを表示しますか？")
if k in sale:
    print(k, "データは", sale[k], "です。")
else:
    print(k, "のデータはみつかりませんでした。")

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です。

どの支店のデータを表示しますか？ 横浜

横浜 のデータはみつかりませんでした。

In [40]:
data = [1,2,3,4]
0 not in data

True

In [45]:
data = [1,1,1,0]
any(data)

True

In [46]:
all(data)

False

## 6.3 ディクショナリの操作

In [47]:
sale

{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75}

In [48]:
sale["東京"] = 81
sale

{'東京': 81, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75}

In [49]:
sale ["横浜"] = 99
sale

{'東京': 81, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75, '横浜': 99}

In [50]:
del sale ["横浜"]
sale

{'東京': 81, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75}

In [56]:
sale["京都"] += 1
sale

{'東京': 81, '名古屋': 60, '京都': 21, '大阪': 50, '福岡': 75}

#### Sample4

In [58]:
sale = {"東京":80, "名古屋":60, "京都":22,"大阪":50,"福岡":75}
print("現在のデータは", sale, "です。")

k = input("追加するキーを入力してください。")
if k in sale:
    print(k, "のデータはすでに存在しています。")
else:
    d = int(input("追加するデータを入力してください。"))
    sale[k] = d
    print(k,"のデータとして", sale[k], "を追加しました。")
print("現在のデータは", sale, "です。")

k = input("どのキーのデータを変更しますか？")
if k in sale:
    print(k, "のデータは", sale[k], "です。")
    d = int(input("データを入力してください。"))
    sale[k] = d
    print(k, "のデータは", sale[k], "に変更されました。")
else:
    print(k, "のデータは見つかりませんでした。")
print("現在のデータは", sale, "です。")

k = input("どのキーを削除しますか？")
if k in sale:
    print(k, "のデータは", sale[k], "です。")
    del sale[k]
    print("データを削除しました。")
else:
    print(k, "のデータはみつかりませんでした")
print("現在のデータは", sale, "です。")

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です。

追加するキーを入力してください。 横浜
追加するデータを入力してください。 36

横浜 のデータとして 36 を追加しました。
現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75, '横浜': 36} です。

どのキーのデータを変更しますか？ 福岡

福岡 のデータは 75 です。

データを入力してください。 62

福岡 のデータは 62 に変更されました。
現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 62, '横浜': 36} です。

どのキーを削除しますか？ 京都

京都 のデータは 22 です。
データを削除しました。
現在のデータは {'東京': 80, '名古屋': 60, '大阪': 50, '福岡': 62, '横浜': 36} です。

## 6.4ディクショナリの高度な操作

In [60]:
sale.keys()

dict_keys(['東京', '名古屋', '大阪', '福岡', '横浜'])

In [61]:
sale.values()

dict_values([80, 60, 50, 62, 36])

In [63]:
sale.items()

dict_items([('東京', 80), ('名古屋', 60), ('大阪', 50), ('福岡', 62), ('横浜', 36)])

#### Sample4

In [65]:
sale = {"東京":80, "名古屋":60, "京都":22,"大阪":50,"福岡":75}
print("現在のデータは", sale, "です。")

print("キーを表示します。")
for k in sale.keys():
    print(k, end="\t")
print()

print("値を表示します。")
for v in sale.values():
    print(v, end="\t")
print()

print("キーと値を表示します。")
for i in sale.items():
    print(i, end="")
print()

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です。
キーを表示します。
東京	名古屋	京都	大阪	福岡
値を表示します。
80	60	22	50	75
キーと値を表示します。
('東京', 80)('名古屋', 60)('京都', 22)('大阪', 50)('福岡', 75)

In [68]:
for v in sorted(sale.values(), reverse=True):
    print(v, end="\t")
print()

80	75	60	50	22

#### ディクショナリを更新する

#### Sample5

In [69]:
sale1 = {"東京":80, "名古屋":60, "京都":22}
sale2 = {"京都":100, "大阪":50, "福岡":75}

print("1のデータは", sale1, "です。")
print("2のデータは", sale2, "です。")

print("1を2で更新します。")

sale1.update(sale2)

print("1のデータは", sale1, "です。")

1のデータは {'東京': 80, '名古屋': 60, '京都': 22} です。
2のデータは {'京都': 100, '大阪': 50, '福岡': 75} です。
1を2で更新します。
1のデータは {'東京': 80, '名古屋': 60, '京都': 100, '大阪': 50, '福岡': 75} です。

In [72]:
len(sale)

5

## 6.5セット

In [75]:
city = {"東京", "名古屋", "京都", "大阪", "福岡", "東京"}

In [78]:
city

{'京都', '名古屋', '大阪', '東京', '福岡'}

In [77]:
city =set(["東京", "名古屋", "京都", "大阪", "福岡", "東京"])

In [80]:
city.add("横浜")
city

{'京都', '名古屋', '大阪', '東京', '横浜', '福岡'}

In [81]:
city.remove("大阪")

In [82]:
city

{'京都', '名古屋', '東京', '横浜', '福岡'}

#### Sample6

In [86]:
city = {"東京", "名古屋", "京都", "大阪", "福岡"}
print("現在のデータは", city, "です。")

d = input("追加するデータを入力してください。")
if d in city:
    print(d, "はすでに損じしています。")
else:
    city.add(d)
    print(d, "を追加しました。")
print("現在のデータは", city, "です。")

d = input("削除するデータを入力してください。")
if d in city:
    city.remove(d)
    print(d, "削除しました。")
else:
    print(d, "はみつかりませんでした。")
print("現在のデータは", city, "です。")

現在のデータは {'京都', '大阪', '福岡', '東京', '名古屋'} です。

追加するデータを入力してください。 東京

東京 はすでに損じしています。
現在のデータは {'京都', '大阪', '福岡', '東京', '名古屋'} です。

削除するデータを入力してください。 横浜

横浜 はみつかりませんでした。
現在のデータは {'京都', '大阪', '福岡', '東京', '名古屋'} です。

### セットで集合演算を行う

#### Sample7

In [88]:
cityA = {"東京", "名古屋", "京都", "大阪"}
cityB = {"京都", "大阪", "福岡"}

print("Aの都市名は", cityA, "です。")
print("Bの都市名は", cityB, "です。")

print("共通するデータは", cityA & cityB, "です。")
print("Aのみのデータは", cityA - cityB, "です。")
print("Bのみのデータは", cityB - cityA, "です。")
print("すべてのデータは", cityA | cityB, "です。")

Aの都市名は {'大阪', '京都', '東京', '名古屋'} です。
Bの都市名は {'大阪', '京都', '福岡'} です。
共通するデータは {'大阪', '京都'} です。
Aのみのデータは {'東京', '名古屋'} です。
Bのみのデータは {'福岡'} です。
すべてのデータは {'福岡', '大阪', '京都', '東京', '名古屋'} です。

#### Sample7 symmetric_differenceを追加

In [90]:
cityA = {"東京", "名古屋", "京都", "大阪"}
cityB = {"京都", "大阪", "福岡"}

print("Aの都市名は", cityA, "です。")
print("Bの都市名は", cityB, "です。")

print("共通するデータは", cityA & cityB, "です。")
print("Aのみのデータは", cityA - cityB, "です。")
print("Bのみのデータは", cityB - cityA, "です。")
print("すべてのデータは", cityA | cityB, "です。")
print("どちらか一方の集合のみにあるデータ", cityA ^ cityB, "です。")

Aの都市名は {'大阪', '京都', '東京', '名古屋'} です。
Bの都市名は {'大阪', '京都', '福岡'} です。
共通するデータは {'大阪', '京都'} です。
Aのみのデータは {'東京', '名古屋'} です。
Bのみのデータは {'福岡'} です。
すべてのデータは {'福岡', '大阪', '京都', '東京', '名古屋'} です。
どちらか一方の集合のみにあるデータ {'福岡', '東京', '名古屋'} です。

In [94]:
cityA = {"東京", "名古屋", "京都", "大阪"}
cityB = {"京都", "大阪", "福岡"}

print("Aの都市名は", cityA, "です。")
print("Bの都市名は", cityB, "です。")

print("共通するデータは", cityA.intersection(cityB), "です。")
print("Aのみのデータは", cityA.difference(cityB), "です。")
print("Bのみのデータは", cityB.difference(cityA), "です。")
print("すべてのデータは", cityA.union(cityB), "です。")
print("どちらか一方の集合のみにあるデータ", cityA.symmetric_difference(cityB), "です。")

Aの都市名は {'大阪', '京都', '東京', '名古屋'} です。
Bの都市名は {'大阪', '京都', '福岡'} です。
共通するデータは {'大阪', '京都'} です。
Aのみのデータは {'東京', '名古屋'} です。
Bのみのデータは {'福岡'} です。
すべてのデータは {'福岡', '大阪', '京都', '東京', '名古屋'} です。
どちらか一方の集合のみにあるデータ {'福岡', '東京', '名古屋'} です。

In [99]:
for s in zip(cityA, cityB):
    print(s)

('大阪', '大阪')
('京都', '京都')
('東京', '福岡')

In [97]:
cityA

{'京都', '名古屋', '大阪', '東京'}

## 補足128 辞書セットの内包表記

#### 辞書の内包表記

In [100]:
colors = ["red","green","blue"]
 
rgb = {color:1 for color in colors}
 
print(rgb)

{'red': 1, 'green': 1, 'blue': 1}

In [109]:
colors = ["red","green","blue"]
 
rgb = {color:n for n, color in enumerate(colors)}
 
print(rgb)

{'red': 0, 'green': 1, 'blue': 2}

In [108]:
colors = ["red","green","blue"]
num = [1,2,3] 
rgb = {color:n for color, n in zip(colors,num)}
 
print(rgb)

{'red': 1, 'green': 2, 'blue': 3}

In [101]:
e_seasons = ["Spring", "Summer", "Autumn", "Winter"]
 
j_seasons = ["春", "夏", "秋", "冬"]
 
seasons = {e:j for (e, j) in zip(e_seasons, j_seasons)}
 
print(seasons)

{'Spring': '春', 'Summer': '夏', 'Autumn': '秋', 'Winter': '冬'}

In [103]:
seasons["Spring"]

'春'

#### setの内包表記

In [104]:
lst = [100, 200, 100, 200, 300, 400, 90, 100, 50]
 
num = {num for num in lst if num > 100}
 
print(num)

{200, 300, 400}

#### 練習

In [112]:
data ={"みかん":30}
type(data)

dict

In [113]:
data = ("東京", "大阪", "名古屋")
type(data)

tuple

#### 練習2

In [114]:
data = {"key1":30, "key2":40}
print(data["key3"])

KeyError: 'key3'

In [116]:
data = ("東京", "大阪", "名古屋")
data.append("福岡")
data

AttributeError: 'tuple' object has no attribute 'add'

In [117]:
data = [74, 85, 69, 77 , 81]
print(data[5])

IndexError: list index out of range