In [3]:
t=1,2,3
t
type(t)

tuple

### Sample1

In [1]:
sale={"東京":80, "名古屋":60,"京都":22,"大阪":50,"福岡":75}
print("現在のデータは",sale,"です。")

k=input("どの支店のデータを表示しますか？")
print(k,"のデータは",sale[k],"です。")

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です。
東京 のデータは 80 です。

### Sample2

In [4]:
sale={"東京":80, "名古屋":60,"京都":22,"大阪":50,"福岡":75}
print("現在のデータは",sale,"です。")

k=input("どのキーのデータを表示しますか？")
if k in sale:
  print(k,"のデータは",sale[k],"です。")
else:
  print(k,"のデータはみつかりませんでした。")

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です。
金沢 のデータはみつかりませんでした。

In [10]:
data=[0,1,2,3,4,5]
if any(data):
  print("any")
if all(data):
  print("all")

any

### Sample3

In [5]:
sale={"東京":80, "名古屋":60,"京都":22,"大阪":50,"福岡":75}
print("現在のデータは",sale,"です。")

k=input("追加するキーを入力してください。")
if k in sale:
  print(k, "のデータはすでに存在しています。")
else:
  d=int(input("追加するデータを入力してください。"))
  sale[k] = d
  print(k, "のデータとして", sale[k], "を追加しました。")
print("現在のデータは",sale,"です。")

k=input("どのキーのデータを変更しますか？")
if k in sale:
  print(k, "のデータは", sale[k], "です。")
  d=int(input("データを入力してください。"))
  sale[k] = d
  print(k, "のデータは", sale[k], "に変更されました。")
else:
  print(k, "のデータはみつかりませんでした。")
print("現在のデータは",sale,"です。")

k=input("どのキーのデータを削除しますか？")
if k in sale:
  print(k, "のデータは", sale[k], "です。")
  del sale[k]
  print("データを削除しました。")
else:
  print(k,"のデータはみつかりませんでした。")
print("現在のデータは",sale,"です。")

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です。
横浜 のデータとして 36 を追加しました。
現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75, '横浜': 36} です。
福岡 のデータは 75 です。
福岡 のデータは 62 に変更されました。
現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 62, '横浜': 36} です。
京都 のデータは 22 です。
データを削除しました。
現在のデータは {'東京': 80, '名古屋': 60, '大阪': 50, '福岡': 62, '横浜': 36} です。

### Sample4

In [7]:
sale={"東京":80, "名古屋":60,"京都":22,"大阪":50,"福岡":75}
print("現在のデータは",sale,"です。")

print("キーを表示します。")
for k in sale.keys():
  print(k, end="\t")
print()

print("値を表示します。")
for v in sale.values():
  print(v, end="\t")
print()

print("キーと値を表示します。")
for i in sale.items():
  print(i, end="")
print()

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です。
キーを表示します。
東京	名古屋	京都	大阪	福岡
値を表示します。
80	60	22	50	75
キーと値を表示します。
('東京', 80)('名古屋', 60)('京都', 22)('大阪', 50)('福岡', 75)

### Sample5

In [12]:
sale1={"東京":80, "名古屋":60,"京都":22}
sale2={"京都":100,"大阪":50,"福岡":75}
print("現在のデータは",sale1,"です。")
print("現在のデータは",sale2,"です。")

print("1を2で更新します。")

sale1.update(sale2)

print("1のデータは",sale1,"です。")

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22} です。
現在のデータは {'京都': 100, '大阪': 50, '福岡': 75} です。
1を2で更新します。
1のデータは {'東京': 80, '名古屋': 60, '京都': 100, '大阪': 50, '福岡': 75} です。

### Sample6

In [14]:
city={"東京", "名古屋","京都","大阪","福岡"}
print("現在のデータは",city,"です。")

d=input("追加するデータを入力してください。")
if d in city:
  print(d, "のデータはすでに存在しています。")
else:
  city.add(d)
  print(d, "を追加しました。")
print("現在のデータは",city,"です。")

d=input("削除するデータを入力してください。")
if d in sale:
  city.remove(d)
  print(d,"を削除しました。")
else:
  print(d,"のデータはみつかりませんでした。")
print("現在のデータは",city,"です。")

現在のデータは {'東京', '大阪', '京都', '福岡', '名古屋'} です。
横浜 を追加しました。
現在のデータは {'東京', '横浜', '大阪', '京都', '福岡', '名古屋'} です。
京都 を削除しました。
現在のデータは {'東京', '横浜', '大阪', '福岡', '名古屋'} です。

### Sample7

In [16]:
cityA={"東京","名古屋","京都","大阪"}
cityB={"京都","大阪","福岡"}

print("Aの都市名は",cityA,"です。")
print("Bの都市名は",cityB,"です。")

print("共通するデータは",cityA & cityB,"です。")
print("Aのみのデータは",cityA - cityB,"です。")
print("Bのみのデータは",cityB - cityA,"です。")
print("すべてのデータは",cityA | cityB,"です。")

Aの都市名は {'大阪', '東京', '京都', '名古屋'} です。
Bの都市名は {'大阪', '京都', '福岡'} です。
共通するデータは {'大阪', '京都'} です。
Aのみのデータは {'東京', '名古屋'} です。
Bのみのデータは {'福岡'} です。
すべてのデータは {'東京', '大阪', '京都', '名古屋', '福岡'} です。

### 練習

In [35]:
# 1
# ① c
# ② d
# ③ c
# ④ b
# ⑤ a

# 2
# ①keyが存在しない
# data={"key1":30,"key2":40}
# print(data["key3"])

# ②タプルに要素追加はできない

# ③5の要素はない
# data=["74","85","69","77","81"]
# print(data[5])

# ④setは値をもたない

data={}
data["a1"]=10
print(data)
del(data["a1"])
print(data)

data2=set("")
data2.add("a1")
print(data2)
data2.remove("a1")
print(data2)

{'a1': 10}
{}
{'a1'}
set()